<% layout('layouts/boilerplate')%>


<div class="container d-flex justify-content-center align-items-center ">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4 mb-4">
            <div class="card shadow">
                <img src="https://lazaretravel.com/wp-content/uploads/2017/06/mountain.jpg"
                    alt="" class="card-img-top" />
                <div class="card-body">
                    <h1>Register</h1>
<form action ="/register" method="POST" class="validated-form" novalidate >
    <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <input class="form-control" type="text" id="username" name="username"required>
    </div>
    <div class="mb-3">
        <label class="form-label" for="email">Email</label>
        <input class="form-control" type="email" id="email" name="email"required>
    </div>
    <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password"required>
    </div>
    <button class="btn btn-success">Register</button>

</form> 
                </div>
            </div>
        </div>
    </div>
</div>

